html {
  font-family: sans-serif;
}

header, footer {
  font-size: 90%;
  text-align: center;
}

body {
  line-height: 2rem;
  color: #4d4d4d; /* grey color */
  margin: 0 0 0 0;
  background-color: #dddddd;
  font-size: 1.1em;
  font-family: Arial, Verdana;
}

footer {
  padding: 0 0 0 0; /* removing circle */
  margin: 0 0 0 0;
  background-color: #9b59b6;
  display:block;
  color: white;
  position: absolute;
  width: 100%;
}

/* css design for header navigation bar */
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9b59b6;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav {
  float: left;
}

.nav > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.visited {
  background-color: #6f3587;
}

li a:hover {
  background-color: #ecdbff;
}
/* end of navigation bar */

.images { /* div */
  width: inherit;
  height: inherit;
}

.content { /* section */
  margin: 8% 5% 5% 5%;
  background-color: white;
  padding: 3% 1% 1% 3%;
}

section {
  margin-bottom: 8%; /* spacing for resume.html */
}

section > p {
  color: #000000;
}

h1, h2 {
  text-align: center;
  font-family: Georgia, Serif, sans-serif;
  color: black;
  letter-spacing: 2px;
}

h3 {
  color: #9b59b6;
  letter-spacing: 1px;
}

/* images in welcome.html */
.left, .right {
  width: 50%;
  height: 50%;
}

.right {
  float: right;
}

#seoul, #android {
  width: 50%;
  height: 50%;
}

/* resume.html */
#education, #pInfo, #experience, #skill {
  color: #4d4d4d;
}

#youtube {
  width: 560px;
  height: 310px;
}

/* self_introduce.html */
section#myself {
  color: #4d4d4d;
}

#map {
  height: 400px;
  width: 100%;
}